* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: url("./bg.jpg") no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  width: 60%;
  position: relative;
  opacity: 0.85;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container {
  width: 50%;
}

.save-history {
  text-align: center;
  color: tomato;
}

.todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  color: #716973;
  background: #50248f;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.left-cont input {
  display: none;
  cursor: pointer;
}

.left-cont label {
  position: relative;
  cursor: pointer;
}

.left-cont span {
  color: #fff;
}

.left-cont label::before {
  content: "";
  padding: 11px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  background: #f5f0fc;
  border-radius: 3px;
}

.left-cont input:checked + label::before {
  background: #ffc800;
}

.left-cont input:checked + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 8px;
  width: 5px;
  height: 12px;
  border: 1px solid #221525;
  border-width: 0px 2px 2px 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove {
  color: tomato;
  cursor: pointer;
  line-height: 1;
  -webkit-transform: translateX(48px);
          transform: translateX(48px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.remove.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.text-disable {
  color: grey !important;
  text-decoration: line-through;
}

.btn {
  position: absolute;
  bottom: 13px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #391b3f;
  color: tomato;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #391b3f;
  color: #fff;
}

head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.2162em -0.4736em 7px rgba(153, 0, 255, 0.9), 1.68513em -0.25622em 7px rgba(255, 46, 0, 0.9), -0.00459em -0.27116em 7px rgba(0, 255, 239, 0.9), 1.83994em 0.33194em 7px rgba(0, 64, 255, 0.9), 0.09032em 1.62098em 7px rgba(0, 47, 255, 0.9), 0.12348em 1.05414em 7px rgba(195, 0, 255, 0.9), -0.0887em 1.6113em 7px rgba(109, 0, 255, 0.9), 1.89637em 2.23136em 7px rgba(115, 255, 0, 0.9), -0.22203em 0.91947em 7px rgba(69, 0, 255, 0.9), 0.88723em 0.44924em 7px rgba(255, 255, 0, 0.9), -0.07338em 0.25377em 7px rgba(0, 118, 255, 0.9), 2.32979em 0.34084em 7px rgba(255, 0, 114, 0.9), 0.96812em -0.23574em 7px rgba(0, 49, 255, 0.9), -0.38986em 2.13155em 7px rgba(255, 2, 0, 0.9), 0.7454em -0.17962em 7px rgba(0, 255, 197, 0.9), 0.10314em 1.86002em 7px rgba(22, 0, 255, 0.9), 1.62181em 1.43494em 7px rgba(0, 130, 255, 0.9), 0.98774em 1.14771em 7px rgba(255, 169, 0, 0.9), 1.13589em 0.59152em 7px rgba(0, 255, 178, 0.9), 2.34431em 0.30359em 7px rgba(0, 78, 255, 0.9), 2.12844em 1.51485em 7px rgba(248, 0, 255, 0.9), 1.29923em 1.028em 7px rgba(255, 0, 232, 0.9), 1.83828em -0.41579em 7px rgba(255, 0, 213, 0.9), 0.00415em -0.16803em 7px rgba(255, 141, 0, 0.9), 0.07841em 1.42124em 7px rgba(37, 0, 255, 0.9), -0.39207em 0.21551em 7px rgba(255, 0, 8, 0.9), 0.48937em 1.7543em 7px rgba(255, 0, 59, 0.9), 1.56743em 2.26571em 7px rgba(0, 193, 255, 0.9), 1.93947em 1.70221em 7px rgba(255, 16, 0, 0.9), 0.99484em 0.63604em 7px rgba(89, 255, 0, 0.9), 1.91369em 0.47167em 7px rgba(169, 0, 255, 0.9), 1.05676em 0.68504em 7px rgba(0, 67, 255, 0.9), 0.88903em 0.4749em 7px rgba(0, 126, 255, 0.9), -0.29845em 0.18755em 7px rgba(0, 74, 255, 0.9), 0.34974em -0.40884em 7px rgba(174, 0, 255, 0.9), 1.15043em -0.06772em 7px rgba(255, 207, 0, 0.9), 1.58438em 1.22586em 7px rgba(114, 255, 0, 0.9), 2.00606em 0.10278em 7px rgba(0, 255, 20, 0.9), 0.0087em -0.29718em 7px rgba(241, 0, 255, 0.9), 1.54508em -0.36631em 7px rgba(0, 28, 255, 0.9), 0.59796em 2.43151em 7px rgba(155, 255, 0, 0.9);
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

body::after {
  text-shadow: 0.82232em 1.55432em 7px rgba(0, 255, 152, 0.9), 0.33678em 0.88182em 7px rgba(20, 0, 255, 0.9), 0.57807em -0.27227em 7px rgba(17, 255, 0, 0.9), 0.01342em 2.10399em 7px rgba(255, 0, 165, 0.9), 1.66373em 1.99697em 7px rgba(148, 255, 0, 0.9), 0.55976em 0.34356em 7px rgba(255, 213, 0, 0.9), -0.46791em 1.53682em 7px rgba(139, 0, 255, 0.9), 1.12031em 0.98741em 7px rgba(0, 255, 101, 0.9), 0.89161em -0.03236em 7px rgba(0, 35, 255, 0.9), 0.48265em -0.04938em 7px rgba(255, 0, 136, 0.9), 2.05085em 0.03242em 7px rgba(255, 0, 68, 0.9), 1.04161em 1.05812em 7px rgba(233, 0, 255, 0.9), -0.16384em 1.75706em 7px rgba(198, 255, 0, 0.9), 1.41689em 1.50989em 7px rgba(0, 223, 255, 0.9), 1.5909em 0.53847em 7px rgba(209, 0, 255, 0.9), 1.78917em 1.98066em 7px rgba(255, 209, 0, 0.9), 2.41066em 0.33161em 7px rgba(0, 255, 171, 0.9), 0.37035em 0.79143em 7px rgba(0, 139, 255, 0.9), -0.31377em 1.35948em 7px rgba(32, 0, 255, 0.9), 0.16141em 0.94727em 7px rgba(255, 34, 0, 0.9), 0.56176em 1.55464em 7px rgba(0, 36, 255, 0.9), -0.0761em 0.86793em 7px rgba(158, 0, 255, 0.9), 2.33395em 0.12366em 7px rgba(255, 216, 0, 0.9), 0.458em 0.55609em 7px rgba(0, 145, 255, 0.9), 0.60084em 1.06124em 7px rgba(125, 255, 0, 0.9), 2.09978em 0.5345em 7px rgba(255, 131, 0, 0.9), 0.61365em -0.44184em 7px rgba(255, 208, 0, 0.9), 0.40092em 0.66651em 7px rgba(239, 0, 255, 0.9), 1.49946em 0.86984em 7px rgba(0, 223, 255, 0.9), 0.01584em -0.14586em 7px rgba(0, 255, 79, 0.9), 1.37278em 0.80315em 7px rgba(0, 255, 123, 0.9), -0.11401em 1.23292em 7px rgba(160, 0, 255, 0.9), -0.40664em 1.36812em 7px rgba(255, 0, 155, 0.9), 1.08864em 0.24051em 7px rgba(14, 0, 255, 0.9), 2.17068em 1.36897em 7px rgba(255, 0, 41, 0.9), 1.15974em 0.31118em 7px rgba(0, 29, 255, 0.9), 2.16187em 1.19783em 7px rgba(255, 0, 44, 0.9), 1.4373em 1.96791em 7px rgba(136, 0, 255, 0.9), 0.01341em -0.16217em 7px rgba(201, 0, 255, 0.9), 0.19436em 1.38771em 7px rgba(241, 0, 255, 0.9), 0.78336em 1.27323em 7px rgba(0, 255, 166, 0.9);
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

head::before {
  text-shadow: 1.26065em 0.47751em 7px rgba(9, 0, 255, 0.9), 1.84713em 1.40575em 7px rgba(255, 0, 192, 0.9), 1.93422em 1.98842em 7px rgba(154, 0, 255, 0.9), -0.1237em 0.99198em 7px rgba(255, 244, 0, 0.9), 1.70431em 2.18788em 7px rgba(0, 23, 255, 0.9), 2.35396em 2.41443em 7px rgba(68, 255, 0, 0.9), 0.78925em 0.49785em 7px rgba(255, 0, 238, 0.9), 2.07584em -0.13707em 7px rgba(28, 255, 0, 0.9), 0.57044em 1.43495em 7px rgba(0, 255, 175, 0.9), 2.06923em 2.40188em 7px rgba(117, 0, 255, 0.9), 2.32985em 1.192em 7px rgba(27, 0, 255, 0.9), 1.58617em 1.96537em 7px rgba(255, 136, 0, 0.9), -0.12557em 1.39036em 7px rgba(0, 107, 255, 0.9), 0.14479em 1.59418em 7px rgba(45, 255, 0, 0.9), 0.58996em 1.27868em 7px rgba(0, 209, 255, 0.9), 0.50626em 0.79218em 7px rgba(0, 255, 81, 0.9), 1.17567em 1.39007em 7px rgba(0, 215, 255, 0.9), 1.87671em -0.06494em 7px rgba(0, 68, 255, 0.9), -0.03626em 1.90076em 7px rgba(13, 255, 0, 0.9), 1.67485em -0.18906em 7px rgba(18, 255, 0, 0.9), 0.74661em 2.34464em 7px rgba(143, 255, 0, 0.9), 0.8461em 2.07809em 7px rgba(255, 132, 0, 0.9), 1.57076em 1.4406em 7px rgba(255, 0, 83, 0.9), 2.44079em -0.44501em 7px rgba(133, 255, 0, 0.9), -0.35143em 1.9075em 7px rgba(0, 255, 17, 0.9), -0.48724em 0.56735em 7px rgba(0, 255, 87, 0.9), 2.39235em 0.09855em 7px rgba(255, 0, 47, 0.9), 2.1321em 1.19642em 7px rgba(0, 103, 255, 0.9), -0.2179em 0.39362em 7px rgba(106, 0, 255, 0.9), 2.31835em 1.38192em 7px rgba(0, 119, 255, 0.9), 1.12235em 0.71328em 7px rgba(153, 0, 255, 0.9), 0.2937em 0.4145em 7px rgba(123, 0, 255, 0.9), 2.06527em 0.87759em 7px rgba(53, 255, 0, 0.9), 1.10033em 1.71048em 7px rgba(92, 0, 255, 0.9), 0.71166em 0.63613em 7px rgba(207, 0, 255, 0.9), 2.28951em 2.16893em 7px rgba(255, 165, 0, 0.9), 1.53506em 0.24466em 7px rgba(0, 192, 255, 0.9), -0.38724em -0.30511em 7px rgba(255, 0, 187, 0.9), -0.16703em 1.57375em 7px rgba(218, 0, 255, 0.9), 0.27562em 0.17135em 7px rgba(101, 255, 0, 0.9), 0.51248em 1.31057em 7px rgba(0, 255, 193, 0.9);
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

head::after {
  text-shadow: 0.35928em 0.39193em 7px rgba(255, 178, 0, 0.9), 0.39256em 0.45157em 7px rgba(255, 0, 157, 0.9), 1.0583em 1.07772em 7px rgba(0, 175, 255, 0.9), 0.80602em 1.22101em 7px rgba(255, 0, 174, 0.9), 0.17651em 0.067em 7px rgba(0, 35, 255, 0.9), 1.38477em -0.21383em 7px rgba(48, 255, 0, 0.9), -0.43689em 1.61767em 7px rgba(0, 255, 127, 0.9), 1.62507em 1.82436em 7px rgba(193, 255, 0, 0.9), 1.85478em 2.06272em 7px rgba(233, 0, 255, 0.9), 1.03588em 2.38041em 7px rgba(255, 0, 43, 0.9), 2.04717em 1.39672em 7px rgba(0, 158, 255, 0.9), 0.23805em 0.42684em 7px rgba(255, 0, 139, 0.9), 1.93131em 1.44813em 7px rgba(21, 255, 0, 0.9), 0.45388em 1.37463em 7px rgba(0, 255, 165, 0.9), 1.87284em 0.56835em 7px rgba(25, 255, 0, 0.9), 0.02297em 0.25799em 7px rgba(225, 255, 0, 0.9), 0.866em 0.20035em 7px rgba(255, 141, 0, 0.9), 1.6895em 1.12572em 7px rgba(30, 255, 0, 0.9), 0.29703em 1.95915em 7px rgba(0, 210, 255, 0.9), 1.16743em -0.07433em 7px rgba(255, 120, 0, 0.9), 2.24429em -0.35636em 7px rgba(255, 112, 0, 0.9), 1.05885em 1.3789em 7px rgba(255, 0, 65, 0.9), 0.89737em 1.33619em 7px rgba(193, 255, 0, 0.9), 0.7228em -0.20075em 7px rgba(13, 0, 255, 0.9), 0.35098em 2.29516em 7px rgba(36, 255, 0, 0.9), 0.51981em 0.84615em 7px rgba(0, 212, 255, 0.9), 0.55638em 0.04582em 7px rgba(255, 0, 176, 0.9), 2.36109em -0.25684em 7px rgba(138, 0, 255, 0.9), 1.31085em 2.00114em 7px rgba(233, 0, 255, 0.9), 1.98566em 0.99599em 7px rgba(0, 255, 31, 0.9), 1.02988em 2.2531em 7px rgba(0, 104, 255, 0.9), 1.24243em 0.01951em 7px rgba(255, 0, 48, 0.9), -0.30969em 1.05978em 7px rgba(255, 105, 0, 0.9), 0.67217em 0.3134em 7px rgba(174, 255, 0, 0.9), 1.16322em 2.00994em 7px rgba(151, 0, 255, 0.9), 0.50632em 0.83421em 7px rgba(255, 0, 206, 0.9), 2.25179em 1.30043em 7px rgba(0, 71, 255, 0.9), 2.28348em -0.04578em 7px rgba(255, 246, 0, 0.9), 1.12092em 2.06692em 7px rgba(255, 0, 81, 0.9), 2.08479em 0.55506em 7px rgba(188, 255, 0, 0.9), -0.31872em 0.40255em 7px rgba(0, 68, 255, 0.9);
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}
/*# sourceMappingURL=style.css.map */