* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #bbe5b3;
}
main {
  width: 60%;
  position: relative;
}
.container {
  width: 50%;
}
.save-history {
  text-align: center;
  color: tomato;
}
.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #716973;
  background: #50248f;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
.left-cont input {
  display: none;
  cursor: pointer;
}
.left-cont label {
  position: relative;
  cursor: pointer;
}
.left-cont span {
  color: #fff;
}
.left-cont label::before {
  content: "";
  padding: 11px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  background: #f5f0fc;
  border-radius: 3px;
}
.left-cont input:checked + label::before {
  background: #ffc800;
}
.left-cont input:checked + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 8px;
  width: 5px;
  height: 12px;
  border: 1px solid #221525;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.remove {
  color: tomato;
  cursor: pointer;
  line-height: 1;
  transform: translateX(48px);
  transition: 0.5s;
}
.remove.active {
  transform: translateX(0px);
  transition: 0.5s;
}

.text-disable {
  color: grey !important;
  text-decoration: line-through;
}

.btn {
  position: absolute;
  bottom: 13px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #391b3f;
  color: tomato;
  background-color: transparent;
  transition: all 0.5s;
  box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #391b3f;
  color: #fff;
}
